<div class="testiominal-group slide-content clearfix">
  <div class="testimonial-image">
    <img alt="Ein Foto von {{ include.name }}" loading="lazy" width="200px" height="200px" src="/assets/images/testimonials/{{ include.image }}" />
  </div>
  <div class="testimonial-body">
    <p class="testimonial-text">
      {{ include.text }}
    </p>
    <cite >
      <p class="testimonial-name"> {{ include.name }}</p>
      <p class="testimonial-position"> {{ include.position }}</p>
    </cite>
  </div>
</div>
