/* Footer rules */
footer > div > div > div.footer-col > a {
  color: #828282;
  text-decoration: none;
}

/* Logo */
.site-logo {
  padding-left: 15ex;
}
.site-logo a {
  text-decoration: none;
}
.site-logo img {
  width: 30%;
  height: auto;
}

div.title-tagline-wrap {
  margin-top: 3.5em;
  margin-right:110px;
  width: 40%;
  float:right;
}

.site-logo p.small {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #8bbf56;
  font-family: "EB Garamond";
  letter-spacing: normal;
}

.site-logo h1, .site-logo p {
  margin: 0 0 1ex 0;
  font-size: 24px;
  color: #8bbf56;
  line-height: normal;
  font-weight: 400;
  font-family: "EB Garamond";
  font-size: 24px;
  letter-spacing: normal;
}

@media screen and (max-width: 782px) {
  .site-logo {
    padding-left: 0;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .title-with-logo img {
    width: 100%;
    height: auto;
  }
  div.title-tagline-wrap {
    display:none;
  }
}

/* Navigation rules */
div.nav-wrapper {
  margin: auto;
  width: 80.2%;
}

div.nav-wrapper a {
  display: inline-block;
  color:#f2a35e;
}

div.nav-wrapper a.active {
  background-color: transparent;
  text-decoration:none;
  pointer-events: none;
  color:#f2a35e;
}

div.nav-wrapper a:hover {
  background-color: transparent;
  color:#8bbf56;
}

.site-nav {
  float: none;
}

@media screen and (max-width: 764px) {
    .site-nav .menu-icon > svg {
        fill: #424242;
    }
    .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
    }
    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
    }
    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right;
    }
    .site-nav input ~ .trigger {
        clear: both;
        display: none;
    }
    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }
    .site-nav .menu-icon {
        display: block;
        float: right;
  
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }
}

/* Body rules */
body {
  background-color: #ffffff;
}

body h2 {
  padding-top: 3ex;
}

body h3 {
  padding-top: 2ex;
}

body hr {
  margin-top: 2ex;
  margin-bottom: 2ex;
  color: #EEE;
}

img {
  padding: 1em 0em 1em 0em;
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

div.center-figure {
  text-align: center;
}

/* Testemonial */
div.testiominal-group {
  margin: 1em 0 1em 0;
}


div.testimonial-image {
  float: left;
  margin-right: 1em;
  border-radius: 10%;
  overflow: hidden;
}

@media screen and (max-width: 368px) {
  div.testimonial-image {
    float: none;
    width: 100%;
    border-radius: 2%;
    text-align: center;
  }
  div.testimonial-image img {
    width: 80%;
    height: auto;
  }
}

div.testimonial-image img {
  padding: 0;
}

div.testimonial-body {
  padding-top: 2em;
  /*font-size: 1.3vw;*/
}

cite p {
  margin-bottom: 0;
}
p.testimonial-name {
  font-size: 14px;
}
p.testimonial-position {
  font-size: 10px;
}


.clearfix:after {
  content: "";
  display: block;
  clear: both;
}


/* Formatting FAQ */
details > summary {
  padding: 7px;
  margin-bottom: 7px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

details > p {
  margin-left: 1em;
  margin-bottom: 1.5em;
}

/* Grid figures */
.grid img {
  width: 49%;
  height: auto;
  float: left;
  padding: 0px 2px 2px 0px;
}

.grid {
  margin-bottom: 1em;
}

/* boxes landing page */
.boxes {
  margin-top: 3em;
  column-count: 3;
  column-gap: 8px;
}

.boxes div.box {
  min-width: 184px;
  background-color: #f0f0f0;
  padding: 2.5ex 0 3ex 0;
  text-align: center;
}

.boxes p {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: .5em;
}

.boxes a {
  background-color: #f2a35e;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
  padding: 1ex 1ex 1ex 1ex;
}

@media screen and (max-width: 575px) {
  .boxes {
    column-count: 1;
  }
  .boxes div.box {
    margin-top: 5px;
  }
}

/* Continous text (used in personal site) */
div.continuous-text {
  float: left;
  width: 65%;
  padding-right: 25px;
}
